<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FriendsBoutique :: Add successfully</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div>
		
			<div class="center">
				Your item was added successfully!
				<br>
				<img src="assets/images/success_add.png" />
				<br>
				<a href="javascript:void(0);" target="_blank">Open my profile page</a>
			</div>
		
		</div>
	</body>
</html>