<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FriendsBoutique :: Login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div>
		
			<img src="assets/images/logo.png" />
			<br>
			Sorry, but you are not logged in. Login first.
			<div id="login">
				<form class="form-inline" method="post" action="success.html">
					<input type="text" class="input-small" placeholder="Email">
					<input type="password" class="input-small" placeholder="Password">
					<button type="submit" class="btn">Sign in</button>
				</form>
			</div>
		
		</div>
	</body>
</html>