<!DOCTYPE html>
<html lang="en">
	<head>
		<title>RANDOM SHOP</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<meta name="fb-product-name" content="Geile Hoseee">
		<meta name="fb-product-image" content="url-to-an-image-path">
		<meta name="fb-product-description" content="blablabla">
		<meta name="fb-product-price" content="29.99 EUR">
		
	</head>
	<body>
	
		asdasdasdasdasdasdasdasdasd
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "assets/js/friendsBoutique.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'friendsBoutique-js'));
		</script>

	</body>
</html>