<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FriendsBoutique :: Add successfully</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}" />
    </head>
    <body>
        <div>

            <div class="center">
                Your item was added successfully!
                <br>
                <img src="@{'/public/images/success_add.png'}" />
                <br>
                <a href="@{Account.index()}" target="_blank">Open my profile page</a>
            </div>

        </div>
    </body>
</html>