#{extends 'main.html' /}
#{set title:'Register' /}

<h2>Register</h2>
<div id="register">

#{form @saveUser()}
    #{field 'user.mail'}
        <p class="${field.errorClass}">
            <label>eMail Address:</label> <input type="text" name="${field.name}" size="16" value="${user?.mail}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'user.firstName'}
        <p class="${field.errorClass}">
            <label>First name:</label> <input type="text" name="${field.name}" size="16" value="${user?.firstName}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    
      #{field 'user.lastName'}
        <p class="${field.errorClass}">
            <label>Last Name:</label> <input type="text" name="${field.name}" size="16" value="${user?.lastName}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    
    
    #{field 'user.password'}
        <p class="${field.errorClass}">
            <label>Password:</label> <input type="password" name="${field.name}" size="16" value="${user?.password}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'verifyPassword'}
        <p class="${field.errorClass}">
            <label>Reenter password:</label> <input type="password" name="${field.name}" size="16" value="${verifyPassword}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}    
    <p class="buttons">
        <input type="submit" value="Register"> <a href="@{index()}">Cancel</a>    
    </p>
#{/form}

</div>