#{extends 'main.html' /}
#{set title:'Register' /}

<h3>Sign up now.</h3><p>
<h4>Get instant access to Friends Boutique for free. </h4>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <!--Register-->
<p>		     
<div id="register">

#{form @saveUser()}
    #{field 'user.mail'}
        <p class="${field.errorClass}">
            <input type="text" name="${field.name}" size="16" value="${user?.mail}" placeholder="E-Mail"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'user.firstName'}
        <p class="${field.errorClass}">
            <input type="text" name="${field.name}" size="16" value="${user?.firstName}"placeholder="First name"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    
      #{field 'user.lastName'}
        <p class="${field.errorClass}">
            <input type="text" name="${field.name}" size="16" value="${user?.lastName}" placeholder="Last name"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    
    
    #{field 'user.password'}
        <p class="${field.errorClass}">
            <input type="password" name="${field.name}" size="16" value="${user?.password}" placeholder="Password"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'verifyPassword'}
        <p class="${field.errorClass}">
            <input type="password" name="${field.name}" size="16" value="${verifyPassword}" placeholder="Re-enter password"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    <button type="submit" class="btn">Sign up</button>    

       
    
#{/form}

</div>
      
    </div>
    <div class="span6">
      <!--Sidebar content-->
      
      Friends Boutique Beschreibung, Use case, What to do, Why should you login/register,etc....
      
	</div>


<script type="text/javascript" charset="${_response_encoding}">
    sessvars.$.clearMem()
</script>




