#{extends 'main.html' /}
#{set title:'About us' /}

<div>
		<ul class="breadcrumb">
		<li><a href="@{Account.index()}">Home</a> <span class="divider">/</span></li>
		<li class="active">About us</li>
		</ul>
	<div>

<h3>What is Friends Boutique?</h3>
<br> Friends Boutique is a central place for you to save any clothing items
you love and found from all over the web! Just click the heart button in your 
favorite webshop and never forget where you found something. And the best part -
you are not alone! See what your friends hearted and get inspired!



