#{extends 'main.html' /}
#{set title:'Home' /}
 			<div>
				<ul class="breadcrumb">
				  <li><a href="@{Account.index()}">Home</a> <span class="divider">/</span></li>
				  <li><a href="@{Account.index()}">My Account</a> <span class="divider">/</span></li>
				  <li class="active">Add Item</li>
				</ul>
			<div>
<div class="container">
	<div class="page-header">
		<h2>Add an Item</h2>
	</div>

		#{form @Application.addItem()}
			<span>
				<input type="number" name="articleNr" id="articleNr" placeholder="Article Number" />
			</span>
			<p>
			<span>
				<input type="text" name="title" id="title" placeholder="Title" />
			</span>
			<p>
			<span>
				<input type="text" name="subtitle" id="subtitle" placeholder="Subtitle" />
			</span>
			<p>
			<span>
				<input type="text" name="category" id="category" placeholder="Category" />
			</span>
			<p>
			<span>
				<input type="text" name="brand" id="brand" placeholder="Brand" />
			</span>
			<p>
			<span>
				<input type="text" name="shop" id="shop" placeholder="Link to picture" />
			</span>
			<p>
			<span>
				<input type="number" name="price" id="price" placeholder="Price" />
			</span>
				<p>
			<span>
				<input type="submit" id="additem" value="Add Item" class="btn" />
    
			</span>
		#{/form}
</div>