#{extends 'main.html' /}
#{set title:'Privacy' /}
<div>
		<ul class="breadcrumb">
		<li><a href="@{Account.index()}">Home</a> <span class="divider">/</span></li>
		<li class="active">Privacy</li>
		</ul>
	<div>

<p align="justify">

<b>
Data Protection</b>
<br>
Please be aware that there are inherent security risks in transmitting data, such as e-mails, via the Internet, because it is impossible to safeguard completely against unauthorized access by third parties. Nevertheless, we shall safeguard your data, subject to this limitation. In particular, personal information will be transmitted via the Internet only if it does not infringe upon third-party rights, unless the respective party has given its prior consent in view of such security risks. Accordingly, as the Web site provider, we shall not be held liable for any damages incurred as a consequence of such security risks or for any related acts of omission on our part.
We oppose the use of any available contact information by a third party for sending unsolicited advertisements. As the Web site provider, we reserve the express right to take legal action against unsolicited mailing or e-mailing of spam and other similar advertising materials.



</p>