#{extends 'main.html' /}
#{set title:'Show' /}

 <div>
	<ul class="breadcrumb">
	<li><a href="@{Account.index()}">Home</a> <span class="divider">/</span></li>
	<li class="active">${cat}</li>
	</ul>
<div>

<table class="table table-hover">
                <thead>
                    <tr>
                        <th>Items of category "${cat}"</th>

                    </tr>
                </thead>
                <tbody>
                    #{list items:itemsCat, as:'item'}
                   
                    <tr>
                        <td>${item.title} </td>
                        <td><img src="${item.shop}"class="img-rounded" >
                   
                        <tr>
                        	<td></td>
                        	
                        	<td></td>
                        </tr>
                    </tr>
                    #{/list}
                </tbody>
            </table>


